/* To add grid-template-columns and rows, place an a unit you would like the column or row to be.
When you do this you are alo adding a column or row to the grid. 
This creates the grid's dimensions/ template*/
.container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

/* grid-row and grid-column control the positioning and size of an element within a container  */
.item-1 {
  grid-row: span 2;
  grid-column: span 4;
}

.item-2 {
  grid-row: span 2;
  grid-column: span 2;
}

.item-3 {
  grid-area: ;
}

